body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/img/fundo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: #262626;
  width: 100%;
  box-sizing: border-box;
}
header #logo{
  color:#fff;
  height: 50px;
  width: 40px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  padding-left: 10px;
  font-weight: bold;
}
header nav{
  float: right;
}
header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li{
  list-style: none;
  position: relative;
}
header nav ul li.submenu:before{
content: '\f0d7';
font-family: fontAwesome;
position: absolute;
line-height: 50px;
color: #fff;
right: 5px;
}
header nav ul li.active.submenu:before{
content: '\f0d8';
}
header nav ul li ul{
  position: absolute;
  left: 0;
  background: #333;
  display: none;
}
header nav ul li.active ul{
  display: block;
}
header nav ul li ul li{
  display: block;
  width: 200px;
}
header nav ul li a{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}
header nav ul li a:hover,
header nav ul li a.active{
  color: #fff;
  background: #2196f3;
}
.menu-toggle{
  color: #fff;
  float: right;
  line-height: 50px;
  cursor: pointer;
  display: none;
}
@media(max-width: 991px){
  header{
    padding:  0 20px;
  }
  .menu-toggle{
    display: block;
  }
  header nav{
    position: absolute;
    width: 100%;
    height:  calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active{
    left: 0;
  }
  header nav ul{
    display: block;
    text-align: center;
  }
  header nav ul li a{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  header nav ul li.active ul{
    position: relative;
    background: #003e6f;
  }
  header nav ul li ul li{
    width: 100%;
  }
}

.carregar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid gray;
  border-top: 10px solid #fff;
  animation: animate 1.5s infinite linear;
}
@keyframes animate {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.hide{
  display: none;
}
footer{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  background-color: darkblue;

}
footer h6{
  text-align: center;
  color:white;
}
#carousel{
  width: 100%;
  height: 200px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
#itens{
  overflow-x: auto;
  width: 500px;
  height: 500px;
  display: inline-block;
}
#itens ul{
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}
.img{
  width: 100%;
}
